/*
  Heading Font: 'Abril Fatface', cursive;
  Body Font: 'Open Sans', sans-serif;
  Colors: #C4A077 (Fallow), #512B1B (Indian Tan), #F5DFBD (Dutch White), #A4BABA (Jungle Mist)
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%; /* Makes working with REMS easier to calculate for size: 1rem = 10px */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

body {
  height: 100%;
  min-width: 40rem;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #000;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size:3.8rem;
  padding:0;
  margin:1rem 0 0 0;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

#main {
  flex: 1 1 auto;
}

.contain-width {
  margin: 0 auto;
  padding: 1rem;
}

.link {
  color: blue;
  cursor: pointer;
}

/* Header */
#header {
  flex: 0 0 10rem;
  background:#C4A077;
}

.header-logo {
  height:8rem;
}

/* Home Page */
.items-error {
  font-size:1.8rem;
  margin-top:2rem;
  text-align: center;
}

.items-loading {
  font-size:1.8rem;
  margin-top:2rem;
  text-align: center;
}

.items-grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fill,minmax(30rem, 1fr));
  grid-auto-rows: 1fr;
}

.items-grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-grid__item-image-container {
  height:20rem;
  margin-top:2rem;
}

.item-grid__item-image { 
  height: 20rem;
  cursor: pointer;
}

.item-grid__label {
  font-size:1.7rem;
  text-align: center;
  cursor: pointer;
}

/* Item Details */
.item-details {
  margin-top:2rem;
}

.item-details__content {
  display: flex;
  flex-direction: column;
  border:.1rem solid #F5DFBD;
  margin-top:1rem;
  padding:2rem;
  min-height:37rem;
  width:100%;
}

.item_details__content-descriptions {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.item_details__content-item { 
  display: flex;
  margin-top:1rem;
}

.item_details__content-label { 
  font-weight: bold;
  flex: 0 0 10rem;
}

.item_details__content-value { 
  flex: 1 1 auto;
}

.item_details__exit {
  flex: 0 0 3rem;
}

.item_details__exit-button {
  border-radius: 2rem;
  background:#A4BABA;
  padding:.4rem .5rem;
  width:20rem;
  font-size:1.4rem;
  text-align: center;
  color:white;
  cursor: pointer;
}

.stores-title {
  font-size:3rem;
  font-weight: 700;
  text-align: center;
  margin:3rem 0;
  border-bottom: .1rem solid #ECECEC;
  padding-bottom:1rem;
  width:100%;
}

.stores-title__icon {
  font-size:3.2rem;
}

.stores-loading {
  font-size:1.8rem;
  margin:2rem 0;
  text-align: center;
}

.stores-error {
  font-size:1.8rem;
  margin:2rem 0;
  text-align: center;
}

.stores-grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fill,minmax(30rem, 1fr));
  grid-auto-rows: 1fr;
}

.store {
  display: flex;
  flex-direction: column;
  padding:.5rem;
  margin-bottom:2rem;
}

.store__content {
  flex: 1 1 auto;
}

.store__name { 
  font-size:1.8rem;
  font-weight: bold;
  margin-bottom:.3rem;
}

.store__contact {
  margin-top:.2rem;
}

.store__directions {
  cursor: pointer;
  flex: 0 0 2rem;
  color:blue;
  text-align: left;
  justify-content: center;
  margin-top:1rem;
}

.store-directions__icon {
  font-size:1.8rem;
  color:black;
}

/* Maps */
.map { 
  height: 65rem;
  width: 100%;
}

.map-container {
  margin-top:2rem;
  height: 50rem;
  width: 100%;
}

/* Footer */
#footer {
  flex: 0 0 8rem;
  text-align: center;
  background: #F5DFBD;
  align-items: center;
  padding-top:1rem;
}

/* Mobile */
@media (max-width: 575.999px) {
  .contain-width {
    width:96%;
  }
  .item-details__image-container {
    text-align: center;
  }
  .item-details__image { 
    height: 30rem;
  }
}

/* SM */
@media (min-width: 576px) and (max-width: 767.999px) {
  .contain-width {
    width:96%;
  }
  .item-details__image-container {
    text-align: center;
  }
  .item-details__image { 
    height: 40rem;
  }
}

/* MD */
@media (min-width: 768px) and (max-width: 991.999px) {
  .contain-width {
    width:96%;
    max-width: 90rem;
  }
  .item-details {
    display: flex;
    justify-content: space-between;
  }
  .item-details__image-container {
    flex: 0 0 30rem;
  }
  .item-details__image { 
    width: 100%;
  }
  .item-details__content {
    flex: 1 1 auto;
  }
}

/* LG */
@media (min-width: 992px) and (max-width: 1199.999px) {
  .contain-width {
    width:90rem;
  }
  .item-details {
    display: flex;
    justify-content: space-between;
  }
  .item-details__image-container {
    flex: 0 0 30rem;
  }
  .item-details__image { 
    width: 100%;
  }
  .item-details__content {
    flex: 1 1 auto;
  }
}

/* XL */
@media (min-width: 1200px) {
  .contain-width {
    width:110rem;
    /* max-width:110rem; */
  }
  .item-details {
    display: flex;
    justify-content: space-between;
  }
  .item-details__image-container {
    flex: 0 0 30rem;
  }
  .item-details__image { 
    width: 100%;
  }
  .item-details__content {
    flex: 1 1 auto;
  }
}